In [106]:
from scipy.stats import ttest_1samp, ttest_ind_from_stats
import numpy as np
from scipy.stats import norm, t, kstest, shapiro
import pandas as pd
import statsmodels.stats.power as smp
import statsmodels.stats.api as sms
# import statsmodels.api as sm
from pandasql import sqldf
# import statsmodels.api as sm
# import math
# import matplotlib.pyplot as plt
# import seaborn as sns
# import warnings
# warnings.filterwarnings('ignore')
# warnings.warn('DelftStack')
# warnings.warn('Do not show this message')
# from tqdm.notebook import tqdm
from statsmodels.stats.proportion import proportions_ztest

<div style="font-family:Papyrus;text-align:center;color:orange;font-size:35px;">
Задание 2
</div>

Подведите результаты эксперимента в экселе по следующим данным: ab_stats.csv (https://drive.google.com/file/d/1XYk_NrBvrpx9IEA-_0gSndcINuoGudW6/view) - Google Диск: Стат значимо ли отличается ARPPU в двух группах ? Какие рекомендации дадите менеджеру?

Сделано в ***Excel***, тут просто решил проверить.

In [2]:
data_csv = pd.read_csv('ab_stats.csv')

In [21]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23652 entries, 0 to 23651
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   revenue        23652 non-null  float64
 1   num_purchases  23652 non-null  int64
 2   purchase       23652 non-null  int64
 3   ab_group       23652 non-null  object
 4   av_site visit  23652 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 924.0+ KB

In [49]:
query = query = 'SELECT "revenue", "purchase", "ab_group" FROM data_csv WHERE "purchase"=1;'
result = sqldf(query)

In [ ]:
# result['ARPPU'] = result.revenue.div(490)
# result['ARPPU'].value_counts()
# result.value_counts()
# result.info()
df_s = result['revenue'].to_numpy()
df_s

In [ ]:
s = df_s/490
s

In [52]:
data_csv.isin(['A','B'])

       revenue  num_purchases  purchase  ab_group  av_site visit
0        False          False     False      True          False
1        False          False     False      True          False
2        False          False     False      True          False
3        False          False     False      True          False
4        False          False     False      True          False
...        ...            ...       ...       ...            ...
23647    False          False     False      True          False
23648    False          False     False      True          False
23649    False          False     False      True          False
23650    False          False     False      True          False
23651    False          False     False      True          False

[23652 rows x 5 columns]

In [62]:
data_csv[data_csv['revenue']>0]

         revenue  num_purchases  purchase ab_group  av_site visit
45      1.885595              1         1        A       7.654627
54      1.002159              1         1        A       6.392489
82      2.990000              1         1        A       8.596604
104    49.990000              1         1        A       8.885633
110    22.093757              4         1        A       8.708759
...          ...            ...       ...      ...            ...
23426   2.489611              1         1        B       9.015714
23493  74.950000              5         1        B       5.881950
23495   3.667866              1         1        B       7.450014
23584  19.990000              1         1        B       9.813696
23616   2.453401              1         1        B      11.909353

[490 rows x 5 columns]

In [66]:
# data_csv['ARPPU'] = data_csv['revenue'].div(490.0)
data_csv['ARPPU']

45       0.003848
54       0.002045
82       0.006102
104      0.102020
110      0.045089
           ...
23426    0.005081
23493    0.152959
23495    0.007485
23584    0.040796
23616    0.005007
Name: ARPPU, Length: 490, dtype: float64

In [68]:
df_tempA = data_csv['ARPPU'][(data_csv['ab_group'] == 'A')]
# df_temp = df_temp[df_temp>0]
df_tempA.sort_values(inplace=True)
# df_temp.sort_values(by=['ARPPU'],inplace=True)

In [69]:
df_tempB = data_csv['ARPPU'][(data_csv['ab_group'] == 'B')]
df_tempB.sort_values(inplace=True)
df_tempB

17488    0.000529
11936    0.000529
16861    0.000530
15987    0.000531
19677    0.001618
           ...
23493    0.152959
17703    0.162317
21862    0.204000
15884    0.228061
18664    0.232306
Name: ARPPU, Length: 234, dtype: float64

In [70]:
A = df_tempA.to_numpy()
A

array([5.29977551e-04, 5.30073469e-04, 1.00843469e-03, 1.52075714e-03,
       1.88231020e-03, 1.90569592e-03, 1.92245714e-03, 1.93363265e-03,
       1.93390000e-03, 1.97418367e-03, 2.01637755e-03, 2.02040816e-03,
       2.02438571e-03, 2.02626939e-03, 2.03400000e-03, 2.04522245e-03,
       2.05013061e-03, 2.48479388e-03, 2.49053673e-03, 2.52389796e-03,
       2.52643265e-03, 2.56486327e-03, 2.61172857e-03, 2.69288776e-03,
       2.88630000e-03, 2.96507143e-03, 2.97483469e-03, 3.00136939e-03,
       3.00289388e-03, 3.04470408e-03, 3.05263469e-03, 3.09269184e-03,
       3.10247755e-03, 3.11095714e-03, 3.23285510e-03, 3.74312449e-03,
       3.84815306e-03, 4.02591837e-03, 4.02972449e-03, 4.06122449e-03,
       4.06122449e-03, 4.06122449e-03, 4.06122449e-03, 4.06122449e-03,
       4.06122449e-03, 4.06122449e-03, 4.06122449e-03, 4.06122449e-03,
       4.06122449e-03, 4.06122449e-03, 4.06122449e-03, 4.06122449e-03,
       4.06122449e-03, 4.06122449e-03, 4.06122449e-03, 4.06122449e-03,
       4.06122449e-03, 4.06122449e-03, 4.06122449e-03, 4.08715306e-03,
       4.34821020e-03, 4.39551224e-03, 4.70077143e-03, 4.73043265e-03,
       4.73148980e-03, 4.77273469e-03, 4.81142041e-03, 4.81480408e-03,
       4.87302245e-03, 4.87611837e-03, 4.96211020e-03, 4.97983265e-03,
       4.98274898e-03, 4.98298163e-03, 4.98401837e-03, 4.98669592e-03,
       4.98792653e-03, 4.99490204e-03, 4.99498163e-03, 4.99651224e-03,
       5.02500816e-03, 5.06325510e-03, 5.07818776e-03, 5.09114286e-03,
       5.10285510e-03, 5.10359184e-03, 5.10614694e-03, 5.11056327e-03,
       5.12104286e-03, 5.14969796e-03, 5.46825918e-03, 5.50586327e-03,
       5.66051020e-03, 5.72746531e-03, 5.77094082e-03, 6.10204082e-03,
       6.10204082e-03, 6.10204082e-03, 6.10204082e-03, 6.10204082e-03,
       6.10204082e-03, 6.42510612e-03, 6.66036122e-03, 6.66188980e-03,
       6.66538367e-03, 6.99951020e-03, 7.11906735e-03, 7.30107551e-03,
       7.45931633e-03, 7.49375918e-03, 7.50732041e-03, 7.50917755e-03,
       7.51691224e-03, 7.59064286e-03, 7.72950612e-03, 7.98655918e-03,
       7.98866735e-03, 7.98866735e-03, 8.02352449e-03, 8.12244898e-03,
       8.12244898e-03, 8.13171429e-03, 8.14285714e-03, 8.14285714e-03,
       8.31768980e-03, 8.32166122e-03, 8.39098367e-03, 8.73967347e-03,
       8.74261224e-03, 9.31797551e-03, 9.98001837e-03, 1.00550449e-02,
       1.01632653e-02, 1.01836735e-02, 1.01836735e-02, 1.01836735e-02,
       1.01836735e-02, 1.01836735e-02, 1.01836735e-02, 1.01836735e-02,
       1.01836735e-02, 1.01836735e-02, 1.01836735e-02, 1.02464245e-02,
       1.10072816e-02, 1.10799816e-02, 1.12040816e-02, 1.12686265e-02,
       1.14206796e-02, 1.20526898e-02, 1.20575469e-02, 1.21624429e-02,
       1.21632653e-02, 1.21836735e-02, 1.22118286e-02, 1.23347612e-02,
       1.24076673e-02, 1.24897959e-02, 1.24961184e-02, 1.25249041e-02,
       1.25383980e-02, 1.25493857e-02, 1.25714286e-02, 1.26013245e-02,
       1.34053551e-02, 1.37566735e-02, 1.42396673e-02, 1.42448980e-02,
       1.42448980e-02, 1.42448980e-02, 1.42653061e-02, 1.49856571e-02,
       1.65744959e-02, 1.68617714e-02, 1.77951510e-02, 1.83061224e-02,
       1.93819918e-02, 2.00474510e-02, 2.02854286e-02, 2.03469388e-02,
       2.03673469e-02, 2.03673469e-02, 2.03877551e-02, 2.03877551e-02,
       2.03877551e-02, 2.05669939e-02, 2.10049204e-02, 2.10521980e-02,
       2.24634061e-02, 2.25645449e-02, 2.28980000e-02, 2.43077878e-02,
       2.44083959e-02, 2.44201612e-02, 2.44489796e-02, 2.50167857e-02,
       2.51344163e-02, 2.51350347e-02, 2.59487735e-02, 2.77441041e-02,
       2.81071755e-02, 2.85378551e-02, 2.98147776e-02, 3.00508531e-02,
       3.00545816e-02, 3.03172796e-02, 3.05918367e-02, 3.05918367e-02,
       3.05918367e-02, 3.06382082e-02, 3.47960796e-02, 3.75375163e-02,
       3.76100633e-02, 3.97479143e-02, 4.07755102e-02, 4.07959184e-02,
       4.07959184e-02, 4.12706041e-02, 4.14731939e-02, 4.22366980e-02,
       4.29864694e-02, 4.50893000e-02, 4.51027633e-02, 4.53243673e-02,
       4.83512551e-02, 5.09591837e-02, 5.29702796e-02, 5.50903551e-02,
       5.98599510e-02, 6.11836735e-02, 6.11836735e-02, 6.11836735e-02,
       6.50678143e-02, 6.51428571e-02, 7.13469388e-02, 7.13673469e-02,
       8.15918367e-02, 8.72316184e-02, 9.17346939e-02, 9.57959184e-02,
       1.00212502e-01, 1.02020408e-01, 1.15277180e-01, 1.22958724e-01,
       1.31178300e-01, 1.32510204e-01, 1.32626867e-01, 1.40693878e-01,
       1.63204082e-01, 1.73346943e-01, 2.03877551e-01, 2.77950498e-01,
       3.88020206e-01, 4.25109696e-01, 8.19673469e-01, 2.66042711e+00])

In [71]:
B = df_tempB.to_numpy()
B

array([0.00052933, 0.00052949, 0.00053019, 0.00053058, 0.00161796,
       0.00190627, 0.00201822, 0.00202351, 0.00204174, 0.00204366,
       0.00204406, 0.00204633, 0.00204633, 0.00205139, 0.00220508,
       0.00248022, 0.00254844, 0.00258056, 0.00268422, 0.00297783,
       0.00298676, 0.00302349, 0.00303942, 0.00304395, 0.00309524,
       0.00384266, 0.00398699, 0.00402217, 0.00406122, 0.00406122,
       0.00406122, 0.00406122, 0.00406122, 0.00406122, 0.00406122,
       0.00406122, 0.00406122, 0.00406122, 0.00406122, 0.00406122,
       0.00406122, 0.00406122, 0.00406122, 0.00406122, 0.00406122,
       0.00406122, 0.00406122, 0.00406122, 0.00406122, 0.00406122,
       0.00415091, 0.00415179, 0.00423646, 0.00424309, 0.00448523,
       0.00462701, 0.00467819, 0.00470236, 0.00472883, 0.00475133,
       0.00475151, 0.00491536, 0.00496341, 0.00496386, 0.00496402,
       0.00497533, 0.00498317, 0.00498337, 0.00499078, 0.00499147,
       0.00499469, 0.00499705, 0.00499729, 0.00499775, 0.00500097,
       0.00500694, 0.00500694, 0.00506682, 0.00507718, 0.00508084,
       0.00508168, 0.00508193, 0.00510299, 0.00518816, 0.00519973,
       0.00520081, 0.0054543 , 0.0055266 , 0.00553426, 0.00553426,
       0.00553458, 0.00572493, 0.00572886, 0.00575929, 0.00576318,
       0.00610204, 0.00610204, 0.00610204, 0.00610204, 0.00610204,
       0.00610204, 0.00610204, 0.00610204, 0.00610204, 0.00610204,
       0.00710494, 0.00734324, 0.00743011, 0.00746209, 0.00747822,
       0.00748544, 0.00749144, 0.00750361, 0.00752486, 0.00810996,
       0.00812245, 0.00812245, 0.00812245, 0.00814286, 0.00875431,
       0.00896819, 0.00927902, 0.00998013, 0.01018367, 0.01018367,
       0.01018367, 0.01018367, 0.01018367, 0.01018367, 0.01018367,
       0.01018367, 0.01018367, 0.01018367, 0.01018367, 0.01018367,
       0.01187874, 0.01209811, 0.0121633 , 0.01217641, 0.01221364,
       0.01227856, 0.01240022, 0.01247064, 0.01249322, 0.01249672,
       0.01249836, 0.01249836, 0.01251064, 0.01257507, 0.01317983,
       0.01381417, 0.01407424, 0.01412283, 0.0142449 , 0.0162167 ,
       0.01626452, 0.01628571, 0.01672228, 0.01748903, 0.01830612,
       0.01830612, 0.02031803, 0.02036735, 0.02038776, 0.02038776,
       0.02065336, 0.02110591, 0.02140436, 0.02148547, 0.02167794,
       0.02240816, 0.02248686, 0.02442857, 0.02478538, 0.02497881,
       0.02507462, 0.0265102 , 0.0265102 , 0.02722232, 0.02761476,
       0.03004663, 0.03059184, 0.03059184, 0.03249462, 0.03336957,
       0.03818767, 0.03937736, 0.04032965, 0.04079592, 0.04255009,
       0.04485714, 0.04485714, 0.05009078, 0.05013849, 0.05205335,
       0.05211767, 0.05250539, 0.05295918, 0.05506122, 0.05524866,
       0.05560497, 0.06118367, 0.06118367, 0.06118367, 0.06120408,
       0.06120408, 0.06120408, 0.06143451, 0.0652449 , 0.06663752,
       0.07331821, 0.07340816, 0.07857606, 0.0795102 , 0.08159184,
       0.08761224, 0.08955669, 0.0917551 , 0.09502284, 0.10195918,
       0.10202041, 0.10202041, 0.10253191, 0.10592702, 0.12316506,
       0.1258846 , 0.12923167, 0.14273469, 0.14482409, 0.15295918,
       0.16231706, 0.204     , 0.22806122, 0.23230612])

In [72]:
W, p_val = shapiro(A)
print("Shapiro-Wilk normality test for A")
print("W =", W)
print("P-value =", p_val)

Shapiro-Wilk normality test for A
W = 0.1513245701789856
P-value = 2.4723388038366e-32

In [73]:
W, p_val = shapiro(B)
print("Shapiro-Wilk normality test for B")
print("W =", W)
print("P-value =", p_val)

Shapiro-Wilk normality test for B
W = 0.6179500818252563
P-value = 1.599590675565433e-22

In [74]:
from scipy.stats import mannwhitneyu

mw_stats = mannwhitneyu(x=A, y=B)
mw_stats

MannwhitneyuResult(statistic=29729.5, pvalue=0.8871956616344514)

In [98]:
'A', np.var(A), np.std(A), np.mean(A), 'B', np.var(B), np.std(B), np.mean(B)

('A',
 0.03178322707667677,
 0.1782785098565634,
 0.03816014008290816,
 'B',
 0.001498228368380117,
 0.03870695503885726,
 0.025228813788592347)

 Получается, что показатели ARPPU имеют ненормальное распределение, значит нужно применять непараметрические критерии (напр. тест Манна-Уитни).
 Достоверной разницы между группой А и B не выявлено, значит остается нулевая гипотеза (А), нужно придумывать и тестировать другую гипотезу.

<div style="font-family:Papyrus;text-align:center;color:orange;font-size:35px;">
Задание 3
</div>
3) Мы хотим провести А/Б-тест для трех источников трафика. Нынешняя конверсия равна 5%, мы ожидаем прирост в 0,2%. Уровень доверия 97% и уровень мощности 87%. Всего на наш продукт заходит 40 000 пользователей в месяц.<br>3.1) За сколько дней мы сможем протестировать гипотезу? И что вы можете посоветовать по результатам подсчета?<br> 3.2) Допустим в задаче нет проблемы с количеством посетителей на сайт, тогда подведите результаты тестирования, если у нас следующие результаты по количеству конверсии:<p> 
    1. 25 000 
    2. 30 000 
    3. 32 000

In [3]:
conversion = 0.05
increment = 0.002
monthly_visitors = 40000
conv1, conv2, conv3 = 25000, 30000, 32000
# effect = increment/conversion
effect_size = sms.proportion_effectsize(conversion, conversion+increment, method='normal')
alpha = 0.03
power = 0.87
effect_size

-0.009091425586399637

In [4]:
number_to_observe = smp.zt_ind_solve_power(effect_size = effect_size, alpha = alpha, power = power)
print(f'Number to observe: {number_to_observe:.0f}, Ожидаемое количество конверсий после теста {number_to_observe*0.052:.0f}')

Number to observe: 262946, Ожидаемое количество конверсий 13673

In [5]:
print(f'При количестве пользователей 40000 в месяц тест нужно проводить {number_to_observe/monthly_visitors:.2f} месяцев')

При количестве пользователей 40000 в месяц тест нужно проводить 6.57 месяцев

In [10]:
%precision 2

'%.2f'

In [11]:
conversion_increment1 = 100-(conv1/conv2)*100
print (f'Конверсия  в первом случае выросла на {conversion_increment1:.1f} %')

Конверсия  в первом случае выросла на 16.7 %

In [12]:
conversion_increment2 = 100-(conv2/conv3)*100
print (f'Конверсия  во втором случае выросла на {conversion_increment2:.1f} %')

Конверсия  во втором случае выросла на 6.2 %

<div style="font-family:Papyrus;text-align:center;color:orange;font-size:35px;">
Задание 4
</div>

Вы решили сравнивать метрику **CPA** в двух группах. 
Размер выборки - 2350 элементов в каждой группе.<br>
Для проверки нормальности распределения на выборке в 2350 наблюдений применили, критерий Шапиро-Уилка 
и получили **p-value**, равный **0.00002**, **alpha = 5%**. <br>
Какой бы вывод мы могли сделать в данном случае? <br>
В этом случае какой статистический критерий для проверки первоначальной гипотезы тут лучше всего подойдёт и почему ?<br>

Учитывая, что **p-value** < **alpha**, нулевая гипотеза (о нормальности данных) опровергнута. Данные не имеют нормальное распределение.

Для данных неимеющих нормальное распределение нужен непараметрический критерии для проверки 2 независимых групп **(подходит *критерий Манна-Уитни*)**.

<div style="font-family:Papyrus;text-align:center;color:orange;font-size:35px;">
Задание 5
</div>

Мы провели АБ-тест на увеличение **average timespent  per user**.<br>
По итогам тестирования мы получили следующие данные. Является ли результат статистически значимым с уровнем доверия **80%**?<br> 
Какую версию мы выкатим на продакшн?<br> 
    **A)** Средняя - 360, отклонение - 40, количество - 9802<br> 
    **B)** Средняя - 352, отклонение - 58, количество - 9789

In [124]:
mean_1, SD_1, N1 = 360, 40, 9802
mean_2, SD_2, N2 = 352, 58, 9789
beta = 0.8
alpha = 0.2

0.19999999999999996

In [109]:
ttest_ind_from_stats(mean_1, SD_1, N1, mean_2, SD_2, N2, )

Ttest_indResult(statistic=11.239280890562718, pvalue=3.213170110556281e-29)

Поскольку **p-value** < alpha , нулевая гипотеза (отсутствие заначимых различий между A и B) опровергнута.
<br> 
На продакшн выкатим версию *B*

<div style="font-family:Papyrus;text-align:center;color:orange;font-size:35px;">
Задание 6
</div>

Создайте техническую архитектуру проекта по аб тестированию продукта он-лайн кинотеатра с учетом кросс-девайс аналитики по следующей гипотезе:<br> Если договориться с банком о 99% кэшбэке на подписку первого месяца, то это повысит конверсию в подписку на 30%, благодаря упрощенному принятию решения со стороны пользователя.<br> На схеме необходимо отобразить: 
1) Управленческий процесс по договоренностям с внешними партнерами 
2) Архитектуру данных с указанием систем, из которых будем скачивать данные 
3) Внутрикомандное взаимодействие

Изучаю презентации из курса вне четверти "Бизнес-процессы", которые скинули коллеги. Курс я не смотрел, хотя после этого задания в аттестации, не понимаю, почему он не был обязательным.