In [39]:
from scipy.stats import ttest_1samp
import numpy as np
from scipy.stats import norm, t, kstest, shapiro
import statsmodels.api as sm
import pandas as pd
import statsmodels.stats.power as smp
import statsmodels.stats.api as sms
from pandasql import sqldf
# from scipy.stats import norm, t, kstest, shapiro
# import statsmodels.api as sm
# import math
# import matplotlib.pyplot as plt
# import seaborn as sns
# import warnings
# warnings.filterwarnings('ignore')
# warnings.warn('DelftStack')
# warnings.warn('Do not show this message')
# from tqdm.notebook import tqdm
# from statsmodels.stats.proportion import proportions_ztest

## Задание 2

In [16]:
data_csv = pd.read_csv('ab_stats.csv')

In [75]:
data_csv

       revenue  num_purchases  purchase ab_group  av_site visit
0          0.0              0         0        A       9.040174
1          0.0              0         0        A       4.811628
2          0.0              0         0        A       7.342623
3          0.0              0         0        A       7.744581
4          0.0              0         0        A      10.511814
...        ...            ...       ...      ...            ...
23647      0.0              0         0        B      10.207152
23648      0.0              0         0        B       5.148761
23649      0.0              0         0        B       4.809019
23650      0.0              0         0        B       8.127488
23651      0.0              0         0        B       8.928102

[23652 rows x 5 columns]

In [104]:
data_csv.revenue.value_counts()

1.990000     42
4.990000     22
2.990000     16
29.980000     6
14.990000     5
             ..
3.488343      1
0.991949      1
4.980000      1
0.996660      1
3.667866      1
Name: revenue, Length: 374, dtype: int64

In [95]:
data_csv['ARPPU'] = data_csv['revenue']/490
data_csv = data_csv[data_csv['ARPPU']>0]

In [101]:
df_temp = data_csv['ARPPU'][(data_csv['ab_group'] == 'A')&(data_csv['revenue'] > 1)&(data_csv['ARPPU'] > 0)]
df_temp = df_temp[df_temp>0]
df_temp
# df_temp.sort_values(by=['ARPPU'],inplace=True)

45       0.003848
54       0.002045
82       0.006102
104      0.102020
110      0.045089
           ...
11682    0.004061
11758    0.030638
11781    0.041473
11803    0.027744
11807    0.014265
Name: ARPPU, Length: 241, dtype: float64

In [93]:
df_tempB = data_csv['ARPPU'][(data_csv['ab_group'] == 'B')&(data_csv['revenue'] > 1)]
df_tempB.sort_values(inplace=True)
df_tempB

0.00

In [91]:
A = df_temp.to_numpy()
A

array([2.05e-03, 2.05e-03, 2.48e-03, 2.49e-03, 2.52e-03, 2.53e-03,
       2.56e-03, 2.61e-03, 2.69e-03, 2.89e-03, 2.97e-03, 2.97e-03,
       3.00e-03, 3.00e-03, 3.04e-03, 3.05e-03, 3.09e-03, 3.10e-03,
       3.11e-03, 3.23e-03, 3.74e-03, 3.85e-03, 4.03e-03, 4.03e-03,
       4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03,
       4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03,
       4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03, 4.06e-03,
       4.06e-03, 4.06e-03, 4.09e-03, 4.35e-03, 4.40e-03, 4.70e-03,
       4.73e-03, 4.73e-03, 4.77e-03, 4.81e-03, 4.81e-03, 4.87e-03,
       4.88e-03, 4.96e-03, 4.98e-03, 4.98e-03, 4.98e-03, 4.98e-03,
       4.99e-03, 4.99e-03, 4.99e-03, 4.99e-03, 5.00e-03, 5.03e-03,
       5.06e-03, 5.08e-03, 5.09e-03, 5.10e-03, 5.10e-03, 5.11e-03,
       5.11e-03, 5.12e-03, 5.15e-03, 5.47e-03, 5.51e-03, 5.66e-03,
       5.73e-03, 5.77e-03, 6.10e-03, 6.10e-03, 6.10e-03, 6.10e-03,
       6.10e-03, 6.10e-03, 6.43e-03, 6.66e-03, 6.66e-03, 6.67e-03,
       7.00e-03, 7.12e-03, 7.30e-03, 7.46e-03, 7.49e-03, 7.51e-03,
       7.51e-03, 7.52e-03, 7.59e-03, 7.73e-03, 7.99e-03, 7.99e-03,
       7.99e-03, 8.02e-03, 8.12e-03, 8.12e-03, 8.13e-03, 8.14e-03,
       8.14e-03, 8.32e-03, 8.32e-03, 8.39e-03, 8.74e-03, 8.74e-03,
       9.32e-03, 9.98e-03, 1.01e-02, 1.02e-02, 1.02e-02, 1.02e-02,
       1.02e-02, 1.02e-02, 1.02e-02, 1.02e-02, 1.02e-02, 1.02e-02,
       1.02e-02, 1.02e-02, 1.02e-02, 1.10e-02, 1.11e-02, 1.12e-02,
       1.13e-02, 1.14e-02, 1.21e-02, 1.21e-02, 1.22e-02, 1.22e-02,
       1.22e-02, 1.22e-02, 1.23e-02, 1.24e-02, 1.25e-02, 1.25e-02,
       1.25e-02, 1.25e-02, 1.25e-02, 1.26e-02, 1.26e-02, 1.34e-02,
       1.38e-02, 1.42e-02, 1.42e-02, 1.42e-02, 1.42e-02, 1.43e-02,
       1.50e-02, 1.66e-02, 1.69e-02, 1.78e-02, 1.83e-02, 1.94e-02,
       2.00e-02, 2.03e-02, 2.03e-02, 2.04e-02, 2.04e-02, 2.04e-02,
       2.04e-02, 2.04e-02, 2.06e-02, 2.10e-02, 2.11e-02, 2.25e-02,
       2.26e-02, 2.29e-02, 2.43e-02, 2.44e-02, 2.44e-02, 2.44e-02,
       2.50e-02, 2.51e-02, 2.51e-02, 2.59e-02, 2.77e-02, 2.81e-02,
       2.85e-02, 2.98e-02, 3.01e-02, 3.01e-02, 3.03e-02, 3.06e-02,
       3.06e-02, 3.06e-02, 3.06e-02, 3.48e-02, 3.75e-02, 3.76e-02,
       3.97e-02, 4.08e-02, 4.08e-02, 4.08e-02, 4.13e-02, 4.15e-02,
       4.22e-02, 4.30e-02, 4.51e-02, 4.51e-02, 4.53e-02, 4.84e-02,
       5.10e-02, 5.30e-02, 5.51e-02, 5.99e-02, 6.12e-02, 6.12e-02,
       6.12e-02, 6.51e-02, 6.51e-02, 7.13e-02, 7.14e-02, 8.16e-02,
       8.72e-02, 9.17e-02, 9.58e-02, 1.00e-01, 1.02e-01, 1.15e-01,
       1.23e-01, 1.31e-01, 1.33e-01, 1.33e-01, 1.41e-01, 1.63e-01,
       1.73e-01, 2.04e-01, 2.78e-01, 3.88e-01, 4.25e-01, 8.20e-01,
       2.66e+00])

In [90]:
B = df_tempB.to_numpy()
B

array([0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
       0.01, 0.01, 0.01, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02,
       0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02, 0.02,
       0.02, 0.02, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03, 0.03,
       0.03, 0.04, 0.04, 0.04, 0.04, 0.04, 0.04, 0.04, 0.05, 0.05, 0.05,
       0.05, 0.05, 0.05, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06, 0.06,
       0.06, 0.06, 0.07, 0.07, 0.07, 0.07, 0.08, 0.08, 0.08, 0.09, 0.09,
       0.09, 0.1 , 0.1 , 0.1 , 0.1 , 0.1 , 0.11, 0.12, 0.13, 0.13, 0.14,
       0.14, 0.15, 0.16, 0.2 , 0.23, 0.23])

In [61]:
W, p_val = shapiro(A)
print("Shapiro-Wilk normality test for A")
print("W =", W)
print("P-value =", p_val)

Shapiro-Wilk normality test for A
W = 0.1574382185935974
P-value = 6.092845722884305e-42

In [62]:
W, p_val = shapiro(B)
print("Shapiro-Wilk normality test for B")
print("W =", W)
print("P-value =", p_val)

Shapiro-Wilk normality test for B
W = 0.1574382185935974
P-value = 6.092845722884305e-42

In [ ]:
from scipy.stats import mannwhitneyu

mw_stats = mannwhitneyu(x=A, y=B)
mw_stats

MannwhitneyuResult(statistic=120050.0, pvalue=1.0)

 Получается, что показатели ARPPU имеют ненормальное распределение, значит нужно применять непараметрические критерии.
 Достоверной разницы между группой А и B не выявлено, значит остается нулевая гипотеза (А), нужно придумывать и тестировать другую гипотезу.

## Задание 3
3) Мы хотим провести А/Б-тест для трех источников трафика. Нынешняя конверсия равна 5%, мы ожидаем прирост в 0,2%. Уровень доверия 97% и уровень мощности 87%. Всего на наш продукт заходит 40 000 пользователей в месяц.<br>3.1) За сколько дней мы сможем протестировать гипотезу? И что вы можете посоветовать по результатам подсчета?<br> 3.2) Допустим в задаче нет проблемы с количеством посетителей на сайт, тогда подведите результаты тестирования, если у нас следующие результаты по количеству конверсии:<p> 
    1. 25 000 
    2. 30 000 
    3. 32 000

In [3]:
conversion = 0.05
increment = 0.002
monthly_visitors = 40000
conv1, conv2, conv3 = 25000, 30000, 32000
# effect = increment/conversion
effect_size = sms.proportion_effectsize(conversion, conversion+increment, method='normal')
alpha = 0.03
power = 0.87
effect_size

-0.009091425586399637

In [4]:
number_to_observe = smp.zt_ind_solve_power(effect_size = effect_size, alpha = alpha, power = power)
print(f'Number to observe: {number_to_observe:.0f}, Ожидаемое количество конверсий {number_to_observe*0.052:.0f}')

Number to observe: 262946, Ожидаемое количество конверсий 13673

In [5]:
print(f'При количестве пользователей 40000 в месяц тест нужно проводить {number_to_observe/monthly_visitors:.2f} месяцев')

При количестве пользователей 40000 в месяц тест нужно проводить 6.57 месяцев

In [10]:
%precision 2

'%.2f'

In [11]:
conversion_increment1 = 100-(conv1/conv2)*100
print (f'Конверсия  в первом случае выросла на {conversion_increment1:.1f} %')

Конверсия  в первом случае выросла на 16.7 %

In [12]:
conversion_increment2 = 100-(conv2/conv3)*100
print (f'Конверсия  во втором случае выросла на {conversion_increment2:.1f} %')

Конверсия  во втором случае выросла на 6.2 %