In [1]:
import pandas as pd
from IPython.display import display
import re

book_id = '152JyksagijqyscnrFDc6Ez2VjT5MKNXpDOyc4PRlauw'<br>
sheet_name = '1111580473' // Маркетинговые<br>
sheet_name = '208646510' // Справочник<br>
sheet_name = '444632080' // Данные из CRM

In [54]:
book_id = '152JyksagijqyscnrFDc6Ez2VjT5MKNXpDOyc4PRlauw'
crm_sheet_name = '444632080'
market_sheet_name = '1111580473'
ref_book = '208646510'
crm = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={crm_sheet_name}'
market = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={market_sheet_name}'
ref = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={ref_book}'
crm_url = crm.replace('/edit#gid=', '/export?format=csv&gid=')
market_url = market.replace('/edit#gid=', '/export?format=csv&gid=')
ref_url = ref.replace('/edit#gid=', '/export?format=csv&gid=')
df = pd.read_csv(crm_url)
df1 = pd.read_csv(market_url)
df2 = pd.read_csv(ref_url)
# Можно было загрузить XLSX со всеми листами

In [78]:
df2

        Марка  Модель            Цена Валюта Маржинальность Unnamed: 5
0    Mercedes     gls      113 514         $            33%        Нет
1    Mercedes  GT_AMG      174 324       NaN            34%        Нет
2        Bм W      x5       72 222      Евро            27%        Нет
3         BMW      i3       51 667       NaN            35%        Нет
4    Mercedes    с180    2 300 000     Рубль            20%        Нет
5   MercedeS     e220    3 850 000       NaN            21%         Да
6         BMW      x1    2 200 000       NaN            22%        Нет
7         BMW      x3    3 350 000       NaN            23%         Да
8    Mercedes    c200    2 750 000       NaN            24%        Нет
9         BMW     318    2 100 000       NaN            25%        Нет
10        BMW    530d    5 300 000       NaN            26%         Да
11  MERCEDES     e400    5 900 000       NaN            28%         Да
12   Mercedes     GLE    7 200 000       NaN            29%         Да
13   Mercedes     cla    2 050 000       NaN            30%        Нет
14   Mercedes     cls    4 650 000       NaN            31%         Да
15   Mercedes     glc    3 950 000       NaN            32%         Да

In [56]:
df['Приход к диллеру'].value_counts()

-    33129
1    16558
0    16475
Name: Приход к диллеру, dtype: int64

In [57]:
df['Просчет стоимости модели'].value_counts()

-    33129
1     8281
0     8277
Name: Просчет стоимости модели, dtype: int64

In [58]:
df['Продажа'].value_counts()

-             33129
0              4195
1              4086
Нет данных        1
Name: Продажа, dtype: int64

In [59]:
df.isna().sum()

Client ID                       0
Город                           0
Приход к диллеру                0
Просчет стоимости модели    16475
Продажа                     24751
dtype: int64

In [60]:
df['Client ID'].duplicated().sum()

26110

In [61]:
df.duplicated().sum()

12495

In [62]:
df1.duplicated().sum()

1

In [76]:
df1['Keyword'].value_counts()

(not set)                                                42746
(not provided)                                           16641
#NAME?                                                    1455
киа краснодар                                              801
КИА                                                        366
                                                         ...
пиканто gt line                                              1
киа пиканто gt line                                          1
автосалоны в краснодаре новые автомобили цены и акции        1
церато 2019 цена и комплектация                              1
киа сол                                                      1
Name: Keyword, Length: 685, dtype: int64

In [63]:
df1['Domain'].value_counts()

Mersedes-krasnodar.ru         33875
BMW-keyauto-krd.ru            23860
cars.BMW-keyauto-krd.ru        7790
cars.Mersedes-krasnodar.ru      637
Name: Domain, dtype: int64

In [64]:
df1['Domain'].value_counts().sum()

66162

In [65]:
df1['Goal Completion Location'].value_counts()

/                                                                                                                                                                                      32862
(entrance)                                                                                                                                                                              6715
/?keyauto_from=1                                                                                                                                                                        4639
/models/e220/options/                                                                                                                                                                   1233
/special/purchase/e220/item66188051.php                                                                                                                                                  890
                                                                                                                                                                                       ...
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=18069394192645000064         1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:2_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=483784355639233388           1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:desktop_reg:35_ret:_apt:none&yclid=18384205705610824526        1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=18410907295974448606         1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3435681394_ad:6081170080_ph:14000399287_st:search_pt:premium_p:1_s:none_dt:mobile_reg:40_ret:_apt:none&yclid=618685954909044492           1
Name: Goal Completion Location, Length: 5080, dtype: int64

In [66]:
df1['Car_manufacturer'] = df1['Domain'].str.findall('bmw|mersedes',flags=re.IGNORECASE)

In [67]:
df1['Car_manufacturer'].value_counts()

[Mersedes]    34512
[BMW]         31650
Name: Car_manufacturer, dtype: int64

In [68]:
print (type(df1.loc[df1.index[0], 'Car_manufacturer']))

<class 'list'>

In [69]:
df1['Car_manufacturer']= df1['Car_manufacturer'].str[0]

In [82]:
df1['Model'] = df1['Goal Completion Location'].str.findall('x1|x3|x5|i3|318|530d|gls|gt_amg|c180|e220|c200|e400|gle|cla|cls|glc', flags=re.IGNORECASE)

In [85]:
df1['Model'].value_counts()

e220      4585
gls        938
c200       935
e400       909
x1         789
c180       688
318        657
glc        524
cla        516
cls        466
X5         261
530d       251
GT_AMG     218
x3         178
GLE         41
i3          21
x5           3
gle          1
X3           1
Name: Model, dtype: int64

In [84]:
df1['Model']=df1['Model'].str[0]

In [73]:
# df1.to_excel('Interim_data.xlsx',index=False, sheet_name='MarketData')
with pd.ExcelWriter('Interim_data.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='MarketData')
    df.to_excel(writer, sheet_name='CRM_data')
    df2.to_excel(writer, sheet_name='Справочник')

In [ ]:
df1.to_csv('data.csv',index=False)