In [2]:
import pandas as pd
from IPython.display import display
import re

In [10]:
from pandasql import sqldf

In [4]:
import urllib.request
book_id = '152JyksagijqyscnrFDc6Ez2VjT5MKNXpDOyc4PRlauw'
link = f'https://docs.google.com/spreadsheets/d/{book_id}/export?format=xlsx'
urllib.request.urlretrieve(link, "Data.xlsx")

('Data.xlsx', <http.client.HTTPMessage at 0x2c8aa4871c0>)

book_id = '152JyksagijqyscnrFDc6Ez2VjT5MKNXpDOyc4PRlauw'<br>
sheet_name = '1111580473' // Маркетинговые<br>
sheet_name = '208646510' // Справочник<br>
sheet_name = '444632080' // Данные из CRM

In [4]:
book_id = '152JyksagijqyscnrFDc6Ez2VjT5MKNXpDOyc4PRlauw'
link = f'https://docs.google.com/spreadsheets/d/{book_id}/export?format=xlsx'
# df = pd.read_excel(link, sheet_name = 1)
# crm_sheet_name = '444632080'
# market_sheet_name = '1111580473'
# ref_book = '208646510'
# crm = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={crm_sheet_name}'
# market = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={market_sheet_name}'
# ref = f'https://docs.google.com/spreadsheets/d/{book_id}/edit#gid={ref_book}'
# crm_url = crm.replace('/edit#gid=', '/export?format=csv&gid=')
# market_url = market.replace('/edit#gid=', '/export?format=csv&gid=')
# ref_url = ref.replace('/edit#gid=', '/export?format=csv&gid=')
# df = pd.read_csv(crm_url)
# df1 = pd.read_csv(market_url)
# df2 = pd.read_csv(ref_url)
# Можно было загрузить XLSX со всеми листами, но тогда получается словарь при выводе которого можно посмотреть сколько листов и их названия. Далее повторно
# доступ (pd.read_excel) - по умолчанию выводит первый лист, если нужен второй или третий (то аргумент sheet_name 1 или 2 соответственно)

In [5]:
df = pd.read_excel('Data.xlsx',sheet_name=2)

In [6]:
df1 = pd.read_excel('Data.xlsx', sheet_name = 0)

In [58]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66162 entries, 0 to 66161
Data columns (total 23 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 66162 non-null  object
 1   Domain                    66162 non-null  object
 2   City                      66162 non-null  object
 3   Region                    66162 non-null  object
 4   Browser                   66162 non-null  object
 5   Device Category           66162 non-null  object
 6   Date                      66162 non-null  object
 7   Pageviews                 66162 non-null  int64
 8   Campaign                  66162 non-null  object
 9   Keyword                   66162 non-null  object
 10  Medium                    66162 non-null  object
 11  Source                    66162 non-null  object
 12  Avg. Session Duration     66162 non-null  float64
 13  Bounce Rate               66162 non-null  float64
 14  Sessions                  66162 non-null  int64
 15  Goal Completion Location  66162 non-null  object
 16  Goal Completions          66162 non-null  int64
 17  Goal Conversion Rate      66162 non-null  float64
 18  Goal Value                66162 non-null  int64
 19  Конверсия                 66162 non-null  int64
 20  Source conv.              66162 non-null  object
 21  Car_manufacturer          66162 non-null  object
 22  Model                     11982 non-null  object
dtypes: float64(3), int64(5), object(15)
memory usage: 11.6+ MB

In [7]:
df2 = pd.read_excel('Data.xlsx', sheet_name = 1)

In [50]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Марка           16 non-null     object
 1   Модель          16 non-null     object
 2   Цена            16 non-null     float64
 3   Валюта          3 non-null      object
 4   Маржинальность  16 non-null     float64
 5   Unnamed: 5      16 non-null     object
dtypes: float64(2), object(4)
memory usage: 896.0+ bytes

In [11]:
# print(f'{df} \n--------------'), print(xlsx)
df_sales = df.query('Продажа == 1')

In [13]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4086 entries, 12 to 66157
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Client ID                 4086 non-null   object
 1   Город                     4086 non-null   object
 2   Приход к диллеру          4086 non-null   object
 3   Просчет стоимости модели  4086 non-null   object
 4   Продажа                   4086 non-null   object
dtypes: object(5)
memory usage: 191.5+ KB

In [117]:
query = 'SELECT MD."Client ID", SL."Город", MD."Date", MD."Car_manufacturer", MD."Model" FROM df_sales SL RIGHT JOIN df1 MD on SL."Client ID" = MD."Client ID" WHERE MD."Model" NOT NULL;'
result = sqldf(query)
# Правая таблица больше, чем левая. В некоторых моделях стоял NULL, что не позволяет в будущем посчитать выручку.

In [142]:
result['Client ID'].drop_duplicates(inplace=True)

In [139]:
result2 = result1.groupby(by='Client ID').value_counts()

In [110]:
# result1 = result[result['Model'].notnull()]

In [23]:
df['Приход к диллеру'].value_counts()

-    33129
1    16558
0    16475
Name: Приход к диллеру, dtype: int64

In [24]:
df['Просчет стоимости модели'].value_counts()

-    33129
1     8281
0     8277
Name: Просчет стоимости модели, dtype: int64

In [25]:
df['Продажа'].value_counts()

-             33129
0              4195
1              4086
Нет данных        1
Name: Продажа, dtype: int64

In [26]:
df.isna().sum()

Client ID                       0
Город                           0
Приход к диллеру                0
Просчет стоимости модели    16475
Продажа                     24751
dtype: int64

In [27]:
df['Client ID'].duplicated().sum()

26110

In [28]:
df.duplicated().sum()

12495

In [29]:
df1.duplicated().sum()

1

In [30]:
df1['Keyword'].value_counts()

(not set)                                                42746
(not provided)                                           16641
#NAME?                                                    1455
киа краснодар                                              801
КИА                                                        366
                                                         ...
пиканто gt line                                              1
киа пиканто gt line                                          1
автосалоны в краснодаре новые автомобили цены и акции        1
церато 2019 цена и комплектация                              1
киа сол                                                      1
Name: Keyword, Length: 685, dtype: int64

In [31]:
df1['Domain'].value_counts()

Mersedes-krasnodar.ru         33875
BMW-keyauto-krd.ru            23860
cars.BMW-keyauto-krd.ru        7790
cars.Mersedes-krasnodar.ru      637
Name: Domain, dtype: int64

In [32]:
df1['Domain'].value_counts().sum()

66162

In [33]:
df1['Goal Completion Location'].value_counts()

/                                                                                                                                                                                      32862
(entrance)                                                                                                                                                                              6715
/?keyauto_from=1                                                                                                                                                                        4639
/models/e220/options/                                                                                                                                                                   1233
/special/purchase/e220/item66188051.php                                                                                                                                                  890
                                                                                                                                                                                       ...
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=18069394192645000064         1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:2_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=483784355639233388           1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:desktop_reg:35_ret:_apt:none&yclid=18384205705610824526        1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3436027166_ad:6082727479_ph:14002772508_st:search_pt:premium_p:1_s:none_dt:mobile_reg:35_ret:_apt:none&yclid=18410907295974448606         1
/special/purchase/?calltouch_tm=yd_c:36451549_gb:3435681394_ad:6081170080_ph:14000399287_st:search_pt:premium_p:1_s:none_dt:mobile_reg:40_ret:_apt:none&yclid=618685954909044492           1
Name: Goal Completion Location, Length: 5080, dtype: int64

In [51]:
df1['Car_manufacturer'] = df1['Domain'].str.findall('bmw|mersedes',flags=re.IGNORECASE)

In [52]:
df1['Car_manufacturer'].value_counts()

[Mersedes]    34512
[BMW]         31650
Name: Car_manufacturer, dtype: int64

In [53]:
print (type(df1.loc[df1.index[0], 'Car_manufacturer']))

<class 'list'>

In [54]:
df1['Car_manufacturer']= df1['Car_manufacturer'].str[0]

In [55]:
df1['Model'] = df1['Goal Completion Location'].str.findall('x1|x3|x5|i3|318|530d|gls|gt_amg|c180|e220|c200|e400|gle|cla|cls|glc', flags=re.IGNORECASE)

In [56]:
df1['Model'].value_counts()

[]                                                                                                          54180
[e220]                                                                                                       4563
[gls]                                                                                                         928
[e400]                                                                                                        905
[c200]                                                                                                        870
[x1]                                                                                                          764
[c180]                                                                                                        682
[318]                                                                                                         636
[glc]                                                                                                         519
[cla]                                                                                                         512
[cls]                                                                                                         466
[X5]                                                                                                          259
[530d]                                                                                                        251
[GT_AMG]                                                                                                      215
[x3]                                                                                                          178
[c200, cla]                                                                                                    63
[GLE]                                                                                                          41
[i3]                                                                                                           21
[e220, 318]                                                                                                    20
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                                                8
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                                                    8
[gls, gls, gls, gls]                                                                                            6
[318, 318, 318, 318, 318, 318, 318, 318, 318, 318, 318, 318]                                                    6
[318, 318, 318, 318, 318]                                                                                       6
[318, 318, 318, 318, 318, 318]                                                                                  6
[glc, 318]                                                                                                      4
[e400, 318]                                                                                                     4
[gls, 318]                                                                                                      4
[cla, 318]                                                                                                      3
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                                                        3
[x5]                                                                                                            3
[c180, c180]                                                                                                    2
[c200, 318]                                                                                                     2
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                    2
[GT_AMG, 318]                                                                                                   2
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                                2
[c180, 318]                                                                                                     2
[318, 318]                                                                                                      2
[e220, glc, glc]                                                                                                1
[cla, GLE]                                                                                                      1
[e220, e220, e220]                                                                                              1
[GT_AMG, GT_AMG]                                                                                                1
[X3]                                                                                                            1
[c180, c180, c180]                                                                                              1
[gle]                                                                                                           1
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]                                                            1
[318, 318, 318]                                                                                                 1
[c180, c200, c180, c180, c180, c200, c200, c200, c200]                                                          1
[x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1, x1]        1
[X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5]                    1
[X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5, X5]                                                            1
[glc, glc]                                                                                                      1
Name: Model, dtype: int64

In [57]:
df1['Model']=df1['Model'].str[0]

In [ ]:
# df1.to_excel('Interim_data.xlsx',index=False, sheet_name='MarketData')
with pd.ExcelWriter('Interim_data.xlsx') as writer:  
    df1.to_excel(writer, sheet_name='MarketData')
    df.to_excel(writer, sheet_name='CRM_data')
    df2.to_excel(writer, sheet_name='Справочник')

In [143]:
with pd.ExcelWriter('Sales_data_without_dups.xlsx') as writer:  
    result.to_excel(writer, sheet_name='SalesbyDate')

In [ ]:
df1.to_csv('data.csv',index=False)