In [1]:
import pandas as pd
import numpy as np

In [ ]:
import os

In [ ]:
dir1 = os.walk('C:/Users/PhYziCiAN/GitHub/python_for_analytics/adds/');
a = [i for i in dir1]
for item in a:
    
print (s)

### Taxis dataframe

In [2]:
df = pd.read_csv('taxis.csv')

In [ ]:
def lim(df):
    if (dropoff_zone == "West Village"):
        df1 = df
    else:
        df1 = df[df.center_JO == geography]
    df_date = df1[(df1.date >= start) & (df1.date <= end)]
    return df_date

df_lim = lim(df).copy() #filter something

In [ ]:
df_lim = df[df['dropoff_zone'].isin(['West Village','Flatiron']) & (df['fare']<7.5)]
df_lim

In [ ]:
df1 = df.loc[0:4, :] # create new dataframe from current with definitive number of rows
df1.dropoff_zone.value_counts()

In [ ]:
df.head(15)

In [ ]:
df.info()

In [ ]:
df.columns[8:2:-1]

In [ ]:
# df[['orbital_period','mass', 'distance']] = df[['orbital_period','mass', 'distance']].astype('float32')
df[df.columns[2:8]] = df[df.columns[2:8]].astype('float32')

In [ ]:
df[df.columns[5]] = df[df.columns[5]].astype('int32')

In [ ]:
%%time
df.index

In [ ]:
df.infer_objects().dtypes #Attempts soft conversion of object-dtyped columns, leaving non-object and unconvertible columns unchanged

In [ ]:
df.info()

In [ ]:
# Show dataframe columns
df.columns

In [ ]:
'index', df.index, 'size', df.size, 'shape', df.shape

In [ ]:
# Получить столбец
df['pickup'][:3]

In [ ]:
# Получить столбец по-другому
df.pickup[:3]

In [ ]:
# Получить более 1 столбца
df[['pickup', 'dropoff', 'passengers', 'distance']][:2]

In [ ]:
# Отбор строк по индексу
df.loc[45]

In [ ]:
# Отбираем более 1 строки
df.loc[[45, 55]]

In [ ]:
# Отбор строк по позициям
df.iloc[[45, 8]]

In [ ]:
# Получаем позиции по значению индекса
df.index.get_loc(45)

In [ ]:
# Первые 3 строки
df[:3]

In [ ]:
# Последние 3 строки
df[-3:]

In [ ]:
# Только последняя строка
df[-1:]

In [ ]:
# Срез по значению индекса
df[0:2]

In [ ]:
# Пример bool серии
df['distance'] >= 3

In [ ]:
# Отбор строк
df[df['distance'] >= 33]

In [ ]:
# Более 1 условия
df[(df['distance'] >= 33) &
        (df['pickup_zone'] == 'JFK Airport')]

In [ ]:
df.loc[[0, 1],
         ['pickup', 'dropoff']]

In [ ]:
# Переименование столбцов
# Создадим новую переменную
df_2 = df.rename(columns={'passengers': 'people'}) # rename passengers to people
df_2[:2]

In [ ]:
# Переименовать без создания новых переменных
df.rename(columns={'passengers': 'people'}, inplace=True) # renaming inplace
df.rename(columns ={'people': 'passengers'}, inplace=True)

In [8]:
# Создадим копию датафрейма
df_c = df.copy()

In [ ]:
# Добавим новый столбец
df_c['total_income'] = (df_c['tip']
                        + df_c['total']) # add new column that is result of addition (sum of) two columns
df_c.head(5)

In [ ]:
# Создать столбец с указанием места для этого столбца
df_c.insert(13, 'fare+total', (df_c['total_income']
                                   + df_c['fare']))
df_c[:2]

In [ ]:
# Изменить существующий столбец
df_c['fare+total'] = df_c['fare+total'].round()
df_c[:4]

In [ ]:
df_c.rename(columns={'passengers': 'people'}, inplace=True)
df_c.insert(0, 'people', df_c.pop('people')) # cut people column and insert at columns it first ('0' position)
df_c.head(2)

In [ ]:
# Создать столбец из серии
# Создать серию со случайными значениями
np.random.seed(123456)
s_random = pd.Series(np.random.normal(size=1615),
                     index=df_c.index)

# Добавить столбец из серии
df_c.loc[:, 'sample_col'] = s_random

In [ ]:
# Расположить столбцы в обратном порядке
# Имена столбцов в обратном порядке
cols = rus_alc_c.columns[::-1]
football.iloc[:, ::-1]

# Расположить столбцы в обратном порядке
rus_alc_c[cols][:4]

In [ ]:
df[[c for c in df if c not in ['b', 'x']] 
       + ['b', 'x']] #append columns 'b', 'x' from dataset to the end of dataset (last 2 columns)

In [ ]:
cols = list(df.columns.values) # change columns order in list and transfer it to a new variable 'new_cols'
new_cols = ['pickup',
 'dropoff',
 'passengers',
 'distance',
 'fare',
 'tip',
 'tolls',
 'color',
 'payment',
 'pickup_zone',
 'dropoff_zone',
'total',
 'pickup_borough',
 'dropoff_borough']
df = df.reindex(columns=new_cols)
df.head(2)

In [ ]:
df[['pu_year','pu_month','pu_day']] = df['pickup'].str.split('-',expand=True) #slipt pickup column into 3 columns
df[['pu_day','time']] = df['pu_day'].str.split(' ',expand=True)

In [ ]:
df[df.columns[-4:]] # last 4 columns (-1;-;2;-3;-4)
df[df.columns[:-4]] # without 4 last columns

In [ ]:
df['full_time'] = df['pu_year']+ df['pu_month'] + df['pu_day'] + df['time'] # also you may concatenate columns from 
# another dataframe (e.g. df1['col1']+df2['col2'])

In [ ]:
data1 = {'set1': [55, 22, 11, 77, 33]} 
df1 = pd.DataFrame(data1) 

data2 = {'set2': [23, 45, 21, 73, 48]} 
df2 = pd.DataFrame(data2)

concatenated = df1['set1'].map(str) + df2['set2'].map(str) # to conactenate integers with strings you need map(str) function

combined = pd.DataFrame(concatenated)
combined = combined.astype('int32')
combined.head(10)
# max_value = combined.max()

# print(max_value)

### Some other tricks (numpy, list comprehension)

In [ ]:
import numpy as np

In [ ]:
my_arr = np.arange(1000)
my_list = list(range(1000))

In [ ]:
% time for _ in range(100000):my_arr2 = my_arr*2

In [ ]:
% time for _ in range(100000):my_list2 = [i*2 for i in my_list]

### Next tests

In [ ]:
# Можно задать пользовательскую индексацию
albums_df.index = ['a', 'b', 'c', 'd', 'e']

In [ ]:
albums_df_2 = pd.DataFrame([{'album': 'Point of Entry',
                             'year': 1981},
                            {'album': 'Screaming for Vengeance',
                             'year': 1982}],
                           columns=['year', 'album'])

In [ ]:
# Создадим списки, которые станут столбцами датафрейма
name = ['Rocka Rolla', 'Sad Wings of Destiny', 'Sin After Sin', 'Stained Class', 'Killing Machine']
year = [1974, 1976, 1977, 1978, 1978]

In [ ]:
# Создадим словарь
albums_dict = {'album': name, 'release_year': year}

In [ ]:
# Создаем DataFrame
albums_df = pd.DataFrame(albums_dict)

In [ ]:
# По умолчанию индексация - это диапазон чисел
albums_df.index

### Join and STR methods

In [ ]:
s = '8/9 Hello 9 may'
s

In [ ]:
import re

In [ ]:
result = re.findall(r'.$', '8/9')
result

In [ ]:
df_all = df1.merge(df2.drop_duplicates(), on=['col1','col2'], 
                   how='left', indicator=True)
df_all

   col1  col2     _merge
0     1    10       both
1     2    11       both
2     3    12       both
3     4    13  left_only
4     5    14  left_only
5     3    10  left_only

In [ ]:
common = df1.merge(df2,on=['col1','col2'])
print(common)
df1[(~df1.col1.isin(common.col1))&(~df1.col2.isin(common.col2))]
   col1  col2
0     1    10
1     2    11
2     3    12
Out[119]:
   col1  col2
3     4    13
4     5    14

In [ ]:
# For multiple dataframes !!!!!!!!!!!!!!!!!!!
import functools as ft

In [ ]:
dfs = [df0, df1, df2, ..., dfN]
df_final = ft.reduce(lambda left, right: pd.merge(left, right, on='name'), dfs)

### DASK and MultiCPU

In [ ]:
# Create 10 datasets
from sklearn.datasets import make_classification
import pandas as pd

for i in range(1, 11):
    print('Generating trainset %d' % i)
    x, y = make_classification(n_samples=100_000, n_features=100)
    df = pd.DataFrame(data=x)
    df['y'] = y
    df.to_csv('trainset_%d.csv' % i, index=False)

In [ ]:
%%time  
# Load 10 dataset and measure load speed

import glob

df_list = []
for filename in glob.glob('trainset_*.csv'):
    df_ = pd.read_csv(filename)
    df_list.append(df_)
df = pd.concat(df_list)
df.shape

In [ ]:
%%time
import dask.dataframe as dd

df = dd.read_csv('trainset_*.csv')
df.shape

In [ ]:
df.shape

In [ ]:
# !python -m pip install "dask[complete]"
# import os
# os.environ["PATH"] += os.pathsep + 'C:/Program Files/Graphviz/bin'
exec_graph = dd.read_csv('trainset_*.csv')
exec_graph.visualize()

In [ ]:
!pip install dask_labextension
!jupyter labextension install dask-labextension
!pip uninstall bokeh
!pip install bokeh==2.4.3

In [12]:
import dask.array as da
image = da.ones((10000,1000,1000))
image

dask.array<ones_like, shape=(10000, 1000, 1000), dtype=float64, chunksize=(255, 255, 255), chunktype=numpy.ndarray>

In [17]:
from dask.distributed import Client
client = Client()
client

# # !pip install gcsfs

In [16]:
client.close() #close client

In [2]:
import dask.dataframe as dd
df = dd.read_csv(
    'gcs://anaconda-public-data/nyc-taxi/csv/2015/yellow_*.csv',
    storage_options = {'token':'anon'},
    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime']
).persist()

In [3]:
df.passenger_count.value_counts().compute()

1    102991045
2     20901372
5      7939001
3      6135107
6      5123951
4      2981071
0        40853
7          239
8          181
9          169
Name: passenger_count, dtype: int64

In [18]:
%%time
import dask.array as da
x = da.random.random((30000,30000), chunks="2MiB")
y = (x + x.T) - x.mean(axis=0)
y.sum().compute()

CPU times: total: 7.88 s
Wall time: 23.3 s

450011741.6801506

In [4]:
df.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 19 entries, VendorID to total_amount
dtypes: datetime64[ns](2), object(1), float64(12), int64(4)

In [6]:
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80